@import "tailwindcss";

@font-face {
  font-family: 'Tropiline';
  src: url('/src/assets/fonts/tropiline/Tropiline-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


body {
  font-family: 'Mulish', sans-serif;
}

.header-bg {
  background-image: url('/src/assets/img/bg3.jpg'); 
  background-size: cover;       
  background-position: center;  
  background-repeat: no-repeat;         
  display: flex;                
  align-items: center;
  justify-content: center;
}
h1,h2, h3, h4, h5, h6 {
  font-family: 'Tropiline', sans-serif;
}

.glass-card {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

/* Puedes asignar un background image mediante clase extra */
.glass-card.piel {
  background-image: url('/images/piel-bg.jpg');
  background-size: cover;
  background-position: center;
}

.glass-card.cabello {
  background-image: url('/images/cabello-bg.jpg');
  background-size: cover;
  background-position: center;
}