@import "tailwindcss";

@font-face {
  font-family: 'Tropiline';
  src: url('/src/assets/fonts/tropiline/Tropiline-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


body {
  font-family: 'Mulish', sans-serif;
}

.header-bg {
  background-image: url('/src/assets/img/bg2.jpg'); 
  background-size: cover;       
  background-position: center;  
  background-repeat: no-repeat;         
  display: flex;                
  align-items: center;
  justify-content: center;
}
h1,h2, h3, h4, h5, h6 {
  font-family: 'Tropiline', sans-serif;
}

/* === TESTS VIEW === */

/* Efecto glass para los tests completados */
.done-card {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255,255,255,0.3);
  pointer-events: none;
}

/* Fondo base de las TestCard */
.TestCard {
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 1rem;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.TestCard:hover {
  transform: scale(1.02);
}

/* 👇 Primera card: test de piel */
.TestCard:nth-child(1) {
  background-image: url('./assets/img/portada_test_piel.png');
}

/* 👇 Segunda card: test de cabello */
.TestCard:nth-child(2) {
  background-image: url('@/assets/img/bg_cabello.jpg');
}

/* Responsividad: las imágenes se adaptan sin deformarse */
@media (max-width: 768px) {
  .TestCard {
    background-position: center;
    background-size: cover;
  }
}
